.margin-bottom-2 {
  margin-bottom: 2rem;
}

.quill-editing-area {
  min-height: 10rem;
}

.user-profile-base {
  display: inline-block;
  border: $border-for-containers;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.15);
}

.user-profile-url {
  display: inline-block;
}

.user-profile-url-container {
  display: flex;
  align-items: flex-end;
}

.links-container {
  border: $border-for-containers;
  padding: 1rem;
  padding-bottom: 2rem;
  margin: 1rem;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
}

.links-section-item-col-2-cancel-button {
  grid-column: 2/3;
  text-align: right;
  cursor: pointer;
}

.error-text-form {
  font-size: 12px;
  line-height: 12px;
  color: rgb(244, 67, 54);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.link-form-container {
  grid-column: -1/1;

  display: grid;
  grid-template-columns: 20rem 1fr;
  margin-right: 10rem;
  //grid-template-rows: repeat(3, 1fr);
}

.vertically-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.links-label {
  padding-right: 1rem;
}

.right-align {
  text-align: right;
  margin-right: 1rem;
}
