.banner-full-width {
  width: 100%;
  height: 3em;
  background-color: $color-primary-light;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  &--text {
    color: #FFFFFF;
    font-size: 1.5rem
  }
}
