.links-input-container {
  border: $border-for-containers;
  padding: 1rem;
  padding-bottom: 2rem;
  margin: 1rem;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
  position: relative;
}

.links-cancel-button {
  position: absolute;
  text-align: right;
  z-index: 100;
}

// horizontal link section
.link-section {
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid $color-grey-dark-1;

  @media only screen and (max-width: $bp-medium) {
    flex-flow: column;
    align-items: center;
    margin-top: 10px;
    padding-top: 5px;
  }
}

.quill-container {
  padding: 3px 0px;
}
